.footer2{
    background-color: #2b0200;
   padding: 90px 120px 50px;
}



.mainwrap{

    background-color: #2b0200;
 
}


.maincontain{
    background-color: #2b0200;
    display:flex;
    border-bottom: 1px solid white;
    padding-top:0px ;
    padding:20px 0px 64px;
    
}

.lists{
    background-color: #2b0200;
   width:277px;
   
}

h3{

    background-color: #2b0200;
    color:  rgb(245, 235, 220);
    font-size: 1.625rem;
    margin-top: 0px;
    font-weight: 800;
    height: 40px;
}

.lists li{
    background-color: #2b0200;
list-style: none;

}

.lists li a{
    background-color: #2b0200;
text-decoration: none;
color:white;
margin: 0px;
    color: rgb(187, 163, 145);
    font-size: 0.9375rem;
    font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    line-height: 1.6;
    cursor: pointer;
}



.honour h1{

    background-color: #2b0200;
    color: aliceblue;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 100;
color: mediumspringgreen;
transition: all 0.5s;
text-align: left;
font-size: 30px;
padding-top: 10px;
padding-bottom: 10px;
letter-spacing: 1px;

}

.honour h1:hover{
    /* transition: all 0.7s; */
    cursor: pointer;
    /* font-size: 35px; */
    color:aquamarine;
}

 .place{

    background-color: #2b0200;
color:whitesmoke;
font-size: 25px;
text-align:left;
margin-top: 20px;
display: inline-flex;
color:aquamarine;
}

.place:hover{
    cursor: pointer;
    /* font-size:27px; */
    transition: all 0.5s;
    display: inline-flex;

}

@media (max-width:1000px){
    .maincontain{
        display:flex;
        flex-direction: column;
        padding:0px;
    }
    .lists{
        width:100%;
    }
    .honour h1{
        font-size:25px;
    }
    .place{
        font-size:20px;
    }
}

@media (max-width:500px){
    .footer2{
        display:none;
    }
 
}