*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 235, 220);

}


.topBar{
display: flex;
align-items: center;
padding-top: auto;
padding-bottom: auto;
padding: 15px;
margin-bottom:15px;
justify-content:  space-between;
align-items: center;
background-color: rgb(245, 235, 220);

}

.topbarlogo img{
    width:100%;
}

.topbarlogo{

width:20px;
margin-left: 25px;
margin-right: 0px;



}
.topbaroptions {
display:flex;
align-items: center;


}

.topbaroptions a{
   
    color:#502314;
    text-decoration: none;
  
  font-family: Flame, "Cooper Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  margin-left: 1.3rem;
}

.topbaroptions a:hover{

    color: rgb(214, 35, 002);
transition: all 0.5s;


}



.burgerLogo{
width:100px;
margin-left:75px;

}

.burgerLogo img{
    width:100%;
    
}

.joining{
margin-left:295px;
display: flex;
align-items: center;
}

.sign {
    text-decoration:none;
    color:white;
    border:1px solid #502314;
    background-color:  rgb(214, 35, 002);
    border-radius:30px;
    padding:6px 15px; 
    font-size:15px;
    font-weight :700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-right:20px;
}

.sign:hover{
background:white;
color:  rgb(214, 35, 002);
transition:all 0.7s;

}

.amount{
    text-decoration:none;
    color:black;
    border:1px solid black;
    background-color:rgb(245, 235, 220);
    border-radius:30px;
    padding:6px 15px;
    margin-right: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;


}

 .amount:hover{
    cursor: pointer;
    background-color:white;
    color:black;   
    
    transition: all 0.8s;
}

.amount .money:hover{
    color:black;
}





.amount img{
    width:20px;
    background-color: transparent;
    margin:0px 10px 0px 0px;
    align-self: center;
    padding: 0px;
}

.amount .money{
    text-decoration: none;
    background-color: transparent;
    color:black;
    text-align: center;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;

}

#theme{
    width: 40px;
    margin:0px 20px 0px 0px;
    padding: 0px;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    border:none;
    border-radius: 50%;
}

#theme img{
    width:100%;
    height: 100% ;
    background-color: transparent;
    align-self: center;
    border:none;
    border-radius: 50%;
   
}


@media (max-width:1100px){ 
 
    .sign,.amount{
        display:none;
    }
    .topbaroptions{
        display:flex;
        align-items: center;
        justify-content: center;
    }   

    .joining{
        margin-left:0px;
    }
    
    .burgerLogo{
        display:none;
    }
    

 
}

@media (max-width:600px){ 
 
    .sign,.amount{
        display:none;
    }
    .topbaroptions{
        display:flex;
        align-items: center;
        justify-content: center;
    }   

    .joining{
        margin-left:0px;
    }
    
    .burgerLogo{
        display:none;
    }
    
    .topbarlogo{

        display: none;

    }

    #m,#m1{
        display:none;
    }
 
}
    
